/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "DIN Pro";
  src: url(https://res.cloudinary.com/travela-andela/raw/upload/v1545298182/staging/FontFont_-_DINPro.otf);  ;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "DIN Pro";
}
body {
  background-color: #e2e2e2;
}
select {
  border:1px;
  outline:0px;
}
